<!DOCTYPE html>
<html>
	<head>
		<title>Shrooms</title>
	</head>
	<body ng-app="ShroomApp">
		<input type="text" name="Shroom Search" ng-model="taco"><br>
		<input type="radio" name="shroomClicker" value="true" ng-model="edible">:Poison<br>
		<input type="radio" name="shroomClicker" value="false" ng-model="edible">:Not Poison<br><br>
		<a href="#!/showall">Show The Shrooms!</a>
		<div ng-view>
			<div ng-include="partial.html"></div>
		</div>


		<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
		<script type="text/javascript" src="lib/node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/node_modules/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="controller.js"></script>
	</body>
</html>